<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ConnectedIn</title>
    </head>
    <body>        
        <h1>Detalhe Perfil</h1>
        
        {% if perfil %}
        Nome:{{perfil.nome}}
        <br>
        E-mail:{{perfil.email}}
        <br>
        Telefone:{{perfil.telefone}}
        <br>
        Empresa:{{perfil.nome_empresa}}
        <br>
        {% else %}
		<h3>Perfil ID {{perfil_id}} não localizado</h3>
        {% endif %}
    </body>
</html>